body {
    background-image: url('splash.jpg');
    color: #444;
}
.container {
    background-color: white;
}
.pokemon-card {
    width: 165px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition:  -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out; 
    transition: transform 0.2s ease-out;
    position: relative;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#pack .pokemon-card {
    width: 75%;
    margin: auto;
}
@media only screen and (min-width: 769px) {
    #pack .pokemon-card {
        width: 50%;
    }
}

.section {
    display: none;
}
.main.container {
    min-height: 900px;
}
.top.container {
    padding-top: 10px;
}
.card-wrapper {
    float: left;
    text-align: center;
    padding-bottom: 10px;
    line-height: 44px;
}
.card-wrapper.rare {
    background-color: #CFD8DC;
    font-weight: bold;
}
.card-wrapper.rare.holo {
    background-color: #444;
    color: #ccc;
}
.card-wrapper.rare.ultra {
    background-color: #FFEE58;
}
.card-wrapper.rare.secret {
    background-color: #1A237E;
    color: #ccc;
}
#pokemonModal img { width: 160px; }
#pokemonModal .deck-item {
    text-align: center;
    width: 190px;
    float: left;
    margin-bottom: 15px;
}
.expansions img {
    height: 50px;
    padding: 8px;
}
.expansions img.selected { border: 1px solid #990000; }
.symbol img { height: 38px; }
li.nav-item { margin: 0 5px; }

.coming-soon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card-number {
    display: none;
}
#pack .card-number {
    display: inline;
}
