body {
    background-image: url('typing-bg.png');
    color: #444;
}
.container { background-color: white; }
.pokemon-card {
    width: 400px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .2s ease-out;
    position: relative;
}
.main.container { padding-bottom: 20px; }
.top.container { padding-top: 10px; }
.main.container div { text-align: center; }
.letters {
    font-size: 3.5rem;
    letter-spacing: 10px;
    text-align: left;
}
.main.container .keyboard-input,
.main.container .target {
    display: inline-block;
    text-align: left;
}

.blinker { 
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-duration: 0.7s;
    /* Basic styling */  
    display: inline-block;
    width: 35px;
    height: 50px;
    margin-left: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(white,.3);
    background: #333399;
    position: relative;
    top: 6px;
  }
  
  @keyframes blinker { 
    from { opacity: 1.0; } to { opacity: 0.0; }
  }
  